* {
    background-color: black;
}
body {
    color: whitesmoke;
}
h1 {
    background-color: red;
}
ol a {
    text-decoration: none;
    color: cyan;
  
}
table {
    background-color: darkcyan;
}
span{
    background-color: lightslategray ;
}
h2 {
    color: darkblue;
    background-color: crimson;
}
 
h2 ::first-letter {
    font-size: 20px;
}
span::first-line {
    color: indigo;
}
button{
    background-color: red;
}