img{
    width: 450px;
    height: 500px;
    margin: 20px;
    
}
nav{
    font-weight: bolder;
    font-family: Mouse memoris,sans-serif;
    font-size: larger;
}
#photo1{
    display: inline-block;
}